body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    flex-grow: 1;
}

ul {
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
}

.img {
    max-width: 100%;
    width: 500px;
    max-height: 100%;
    height: 200px;

}

#header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.header {
    background-color: #1f2937;
    color: white;
    padding: 5px 150px;
}

.header-container-1 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 60px 0px;
}

.header-container-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    width: 33%;
    flex-grow: 2;
}

h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding: 0%;
    margin: 0%;
}

#hero-secondary {
    color: #e5e7eb;
    font-size: 18px;
    padding: 0%;
    margin: 0%;
}

.header-container-3 {
    display: flex;
}

button {
    background-color: #3882f6;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
}

.information {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
}

.information-container-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

.illustration-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.placeholder-notxt {
    width: 100%;
    max-width: 180px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 50px 220px;
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
    row-gap: 0px 0px;
    margin: 0px;
}
#thor-quote {
    display: flex;
}

#author {
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.sign-up {
    display: flex;
    padding: 100px 150px;
}

.blue-tab {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 20px 100px;
    justify-content: space-between;
    background-color: #3882f6;
    border-radius: 18px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    color: #e5e7eb;
    font-weight: bold;
    font-size: larger;
    row-gap: 0px;
    width: 40%;
}

#bolder {
    font-size: 26px;
    font-weight: bolder;
}

#bborder {
    border: 1px solid white;
    border-radius: 12px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 30px;
    font-size: larger;
}